<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teteroom</title>

  <!-- Bootstrap / Styling -->
  <link rel="stylesheet" crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"/>
  <style>
    body { padding-top: 25px; /*65px*/ }
    .panel-heading { text-align: center; font-weight: bold; }
    .panel-body { overflow-y: scroll; }
    li.list-group-item.active {}

    #room-list, #user-list { height: 30%; }
    #chat-list { height: 60%; }
  </style>
</head>
<body>
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 
    ADD A MODAL THAT IS LIKE USER LOGIN 
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <div id="v-app" class="container">
    <div class="header">
      <h3>Welcome to Teteroom, Tete-a-Tete</h3>
    </div> <!-- header -->

    <div v-show="errMsg" class="alert alert-danger"><span>{{ errMsg }}</span></div>

    <div class="row">

      <!-- LEFT-BAR -->
      <div class="col-md-3">
      <div class="panel-group">

      <!-- ROOM LIST -->
      <div class="panel panel-primary">
        <div class="panel-heading">ROOMS:</div>

        <div class="panel-body" id="room-list">
          <ul class="list-group">
            <li class="list-group-item" v-bind:class="{active: room.isActive}"
              v-for="(room, index) in rooms" v-on:click="modRoom(index)">
              {{ room.title }}
              <span class="glyphicon glyphicon-remove pull-right"
                v-if="!room.isActive" v-on:click="delRoom(index)"></span>
            </li>
          <ul>
        </div> <!-- panel-body -->

        <!-- SUBMIT NEW ROOM -->
        <div class="panel-footer">
          <div class="input-group">
            <input class="form-control" placeholder="New room name..."
              v-model.trim="newRmName" type="text"/>
            <div class="input-group-btn">
              <button class="btn btn-primary"
                v-on:click="addRoom" role="button">+</button>
            </div>
          </div>
        </div> <!-- panel-footer -->
      </div> <!-- panel ROOM LIST -->

      <!-- USER LIST -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-user"></span> USERS:
        </div>

        <div class="panel-body" id="user-list">
          <ul class="list-group">
            <li class="list-group-item"
              v-for="(user, index) in users" v-bind:class="{active: user.isYou}">
              {{ user.name }}
            </li>
          </ul>
        </div> <!-- panel-body -->
      </div> <!-- USER LIST -->

      </div> <!-- panel-group -->
      </div> <!-- col LEFT BAR -->

      <!-- CHAT MESSAGES -->
      <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">Chatroom: {{ currRm }}</div>
        
        <div class="panel-body" id="chat-list">
          <ul id="list" class="list-group">
            <li v-for="n in 10" class="list-group-item">A test message.</li>
          </ul>
        </div> <!-- panel-body -->

        <!-- MESSAGE SUBMIT -->
        <div class="panel-footer">
        <div class="input-group">
          <!-- <input id="msgTxt"/><button onClick="submitMsg()">S</button> -->
          <input class="form-control" placeholder="Enter message here..."
            v-model.trim="newMsgTxt" type="text"/>
          <div class="input-group-btn">
            <button v-on:click="submitMsg" class="btn btn-primary" role="button">
            Send Msg</button>
          </div>
        </div> <!-- input-group MSG SUBMIT -->
        </div> <!-- panel-footer -->

      </div> <!-- panel CHAT MSG -->
      </div> <!-- col -->

    </div> <!-- row -->
  </div> <!-- container -->
</body>

<!-- Libraries/Controllers (order matters) -->
<script src="https://unpkg.com/vue" rel="text/javascript"></script>
<script src="/socket.io/socket.io.js" rel="text/javascript"></script>
<script src="app/app.js" rel="text/javascript"></script>

</html>

